@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/share-tech/400.css";
@import "@fontsource/share-tech-mono/400.css";

@theme {
  --font-share-tech: "Share Tech", monospace;
  --font-share-tech-mono: "Share Tech Mono", monospace;
  /* Inject custom font families */
  --font-display: "Inter", sans-serif;
}
